{% load staticfiles %}
{% load compress %}
{% load cache %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
<title>Django REST framework example</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  {% endcompress %}
</head>
<body>
  {% block container %}{% endblock %}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  {% compress js %}
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  {% endcompress %}
</body>
</html>
