{% extends "base.html" %}

{% load i18n %}

{% block container %}
<div>
  <h1>Sample front-end page for testing</h1>
  <span id="login-info"></span>
</div>
<hr/>
<div>
  <h2>Signup</h2>
  <form id="signup-form">
    <input type="email" name="email" placeholder="username@domain.com" required />
    <input type="text" name="username" placeholder="username" required />
    <input type="password" name="password" placeholder="password" required />
    <input type="submit" value="Signup" />
  </form>
</div>
<hr/>
<div>
  <h2>Login</h2>
  <form id="login-form">
    <input type="email" name="email" placeholder="username@domain.com" required />
    <input type="password" name="password" placeholder="password" required />
    <input type="submit" value="Login" />
  </form>
</div>
<hr/>
<div>
  <h2>Logout</h2>
  <button id="logout-btn">Logout</button>
</div>
<hr/>
<div>
  <h2>Read user profile</h2>
  <button id="user-profile-btn">Get user profile</button>
</div>
<hr/>
<div>
  <h2>Update user profile</h2>
  <h4><em>Original password is required to update email or password or deactivate account</em></h4>
  <form id="update-user-form">
    <input type="email" name="email" placeholder="new email" />
    <input type="text" name="username" placeholder="new username" />
    <input type="password" name="original-password" placeholder="original password" />
    <input type="password" name="password" placeholder="new password" />
    <input type="checkbox" name="deactivate" />deactivate account
    <input type="submit" value="Update" />
  </form>
</div>
<hr/>
<div>
  <h2>Create article</h2>
</div>
<hr/>
<div>
  <h2>Read article</h2>
</div>
<hr/>
<div>
  <h2>Update article</h2>
</div>
<hr/>
<div>
  <h2>Delete article</h2>
</div>
<hr/>
<div>
  <h2>Create comment</h2>
</div>
<hr/>
<div>
  <h2>Read comment</h2>
</div>
<hr/>
<div>
  <h2>Update comment</h2>
</div>
<hr/>
<div>
  <h2>Delete comment</h2>
</div>
<hr/>
{% endblock %}
